<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <% var x = '<p style="color: red">Tin Tức</p>' %>
        <h2>
            Đây là trang
            <%- x %>
        </h2>
</body>

</html>